name: Publish to GitHub Packages
on:
  release:
    types: [published]

jobs:
  publish:
    environment: production
    runs-on: ubuntu-latest

    name: Publish
    steps:
      - uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: NPM Install
        run: npm install

      - name: Build
        run: npm run build

      - name: Publish (NPM)
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'

      - name: Publish (GPR)
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
